version: '3.8'

services:
  proxy:
    build: ./part2-proxy
    container_name: proxy
    ports:
      - "5557:5557"
      - "5558:5558"

  server:
    build: ./part2-server
    container_name: server
    volumes:
      - ./data:/app/data
    depends_on:
      - proxy
    environment:
      - PUB_ADDRESS=tcp://proxy:5557
      - SUB_ADDRESS=tcp://proxy:5558

  client:
    build: ./part2-client
    depends_on:
      - server
      - proxy
    deploy:
      replicas: 2

  bot:
    build: ./part2-bot  
    volumes:           
      - ./data:/app/data
    depends_on:        
      - server
      - proxy
    deploy:             
      replicas: 8
    stop_signal: SIGINT 
    stop_grace_period: 10s 